*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg, #4203a9, #90bafc);
    height: 100vh;
    width: auto;
    position: relative;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}
.head h1{
    padding-bottom: 15px;
    text-decoration: underline;
}
.character_text{
    width: 400px;
    height: 200px;
    box-shadow: 10px 10px 10px 5px;
    font-size: 24px;

    display: block;
    margin: 35px auto;
}
.counter{
    margin: 0 auto;
    text-align: center;
    width: 55%;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}