*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg, #4203a9, #90bafc);
    height: 100vh;
    width: auto;
    position: relative;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
}
.head h1{
    padding-bottom: 15px;
    text-decoration: underline;
}
.character_text{
    width: 400px;
    height: 200px;
    box-shadow: 10px 10px 10px 5px;
    font-size: 24px;

    display: block;
    margin: 35px auto;
}
.counter{
    margin: 0 auto;
    text-align: center;
    width: 55%;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.statistics-head{
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 40px;
}
.statistics{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
.text-values{
    background-color: #F8F8F8;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
    width: 110px;
    height: 80px;
}
.value{
    font-size: 22px;
    font-weight: bold;
    color: #04AA6D;
}