*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

/* clock */
.clock{
    width: 350px;
    height: 350px;
    border: 8px solid #222;
    border-radius: 50%;
    position: relative;
    background-color: white;
    z-index: 1;
}

/* Number */
.number{
    position: absolute;
    font-size: 24px;
    font-weight: bold;

    transform: translate(-50%, -50%);
}

/* Number positions */
.number-12{
    top: 8%;
    left: 50%;
}
.number-1{
    top: 15%;
    left: 70%;
}
.number-2{
    top: 30%;
    left: 90%;
}
.number-3{
    top: 50%;
    left: 92%;
}
.number-4{
    top: 70%;
    left: 85%;
}
.number-5{
    top: 85%;
    left: 70%;
}
.number-6{
    top: 92%;
    left: 50%;
}
.number-7{
    top: 85%;
    left: 30%;
}
.number-8{
    top: 70%;
    left: 15%;
}
.number-9{
    top: 50%;
    left: 8%;
}
.number-10{
    top: 30%;
    left: 15%;
}
.number-11{
    top: 15%;
    left: 30%;
}


/* clock hands */
.hand{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 10px;
}

.hour-hand{
    width: 8px;
    height: 80px;
    background-color: #222;
}
.minute-hand{
    width: 8px;
    height: 110px;
    background-color: #444;
}
.second-hand{
    width: 2px;
    height: 130px;
    background-color: red;
}

/* center point */
.center{
    width: 16px;
    height: 16px;

    background-color: #222;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 51%;

    transform: translate(-50%, -50%);
}
/* Add day */
.day-hand{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    top: 40%;
    left: 65%;
    background-color: gainsboro;
    border: 1px solid black;
    position: absolute;
    z-index: -1;

    font-size: 28px;
    color: firebrick;
    padding: 10px;
}
/* Add Dark Mode */
#themeBtn{
    position: fixed;
    top: 70px;
    right: auto;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background-color: #222;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Dark mode */
body.dark{
    background-color: #222;
}
body.dark .clock{
    background-color: #111;
    border-color: white;
}
body.dark .number{
    color: white;
}
body.dark .hour-hand{
    background-color: white;
}
body.dark .minute-hand{
    background-color: #ddd;
}
body.dark .center{
    background-color: white;
}

